:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #d3d3d3;
  --color-dark-gray: #a9a9a9;
  --color-red: #ff0000;
  --color-green: #008000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Aqui iran los tamaños de los h1 etc*/

.header {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  padding: 4rem;
  margin: 0;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 3.6rem;
}

/*Animación hello world*/
@keyframes cambiar-hello {
  0% {
    color: var(--color-dark-gray);
  }
  50% {
    color: var(--color-red);
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
  100% {
    color: var(--color-dark-gray);
  }
}

.hello-world {
  color: var(--color-light-gray);
  text-align: center;
  margin-top: 20px;
  font-size: 2.6rem;
  animation: cambiar-hello 2000ms ease-in-out infinite;
  -webkit-animation: cambiar-hello 2000ms ease-in-out infinite;
}
